*~
*.o
*.so.*
src/examples/bench
src/examples/risp_client
src/examples/risp_local
src/examples/risp_server
src/examples/struct_client
src/examples/struct_server
src/rfx/rfxd
src/librisp64/librisp64-*.tar.gz
src/examples/chat-demo/docker/risp_chat_server
src/examples/chat-demo/risp_chat_send
src/examples/chat-demo/risp_chat_server
src/examples/chat-demo/risp_chat_stream
src/examples/chat-demo/risp_chat_stream2
src/examples/chat-demo/ssl/*.pem
src/examples/chat-demo/ssl/int-crlnumber
src/examples/chat-demo/ssl/int-index.*
src/examples/chat-demo/ssl/int-serial
src/examples/chat-demo/ssl/int-serial.old
src/examples/chat-demo/ssl/root-crlnumber
src/examples/chat-demo/ssl/root-index.*
src/examples/chat-demo/ssl/root-serial
src/examples/chat-demo/ssl/root-serial.old

